.ERC.secret
abbrev_defs
ac-comphist.dat
auto-save-list/
autosaves/
backups/
bookmarks
elpa/
eshell/
ido.last
notes
projectile.cache
recentf
repl-port
saved-places
server/
semanticdb/
session*
url/
transient/
